/*
* @Author: askMeWhy
* @Date:   2017-12-11 14:27:16
* @Last Modified by:   bigWave
* @Last Modified time: 2017-12-20 17:19:11
*/
body {
	margin: 0;
	padding: 0;
}

.no-support {
	font-size: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: #474443;
}

.drift-down-modal {
	position: fixed;
	z-index: 10;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.drift-down-overlay {
	position: absolute;
	z-index: 10;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	opacity: .9;
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(131, 1, 125, 1)), color-stop(rgba(209, 20, 78, 1)), to(rgba(254, 109, 3, 1)));
	background: linear-gradient(to bottom, rgba(131, 1, 125, 1), rgba(209, 20, 78, 1), rgba(254, 109, 3, 1));
}

.dfrit-rain {
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0;
	list-style-type: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	overflow: hidden;
}

.drift-item {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transform-origin: 50% 0;
	transform-origin: 50% 0;
}

.drift-item>img {
	max-width: 100%;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	vertical-align: bottom;
}

.drift-item>.count {
	font-size: 80px;
	font-weight: 900;
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	color: #ffc600;
}

.drift-item>.count>i {
	font: inherit;
	display: inline-block;
	-webkit-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	-webkit-animation: count-scale .5s ease 1;
	animation: count-scale .5s ease 1;
	color: inherit;
}

@-webkit-keyframes count-scale {
	0% {
		opacity: 1;
	}
	80% {
		-webkit-transform: translate3d(0, 0, 0) scale(1.4);
		transform: translate3d(0, 0, 0) scale(1.4);
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes count-scale {
	0% {
		opacity: 1;
	}
	80% {
		-webkit-transform: translate3d(0, 0, 0) scale(1.2);
		transform: translate3d(0, 0, 0) scale(1.2);
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.drift-count-down {
	position: absolute;
	z-index: 4000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: none;
	background-color: transparent;
}

.drift-count-down .dcd-header {
	position: relative;
	z-index: 4;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 130px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.drift-count-down .dcd-header>img {
	max-width: 100%;
	height: 25%;
}

.drift-count-down .dcd-body {
	position: relative;
	z-index: 4;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: calc(100% - 130px);
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.drift-count-down .dcd-body>img {
	max-width: 100%;
	height: 180px;
}

.drift-count-down .dcd-cover {
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.drift-count-down .dcd-cover .c-ufo {
	position: absolute;
	top: 5%;
	right: 0;
	width: 56.5%;
	padding: 13.4% 0;
	background: no-repeat url('./ufo.png') transparent;
	background-size: 100% 100%;
}

.drift-count-down .dcd-cover .c-star {
	position: absolute;
	top: 79%;
	left: 0;
	width: 10%;
	padding: 13.4% 0;
	background: no-repeat url('./star.png') transparent;
	background-size: 100% 100%;
}

.drift-count-down .dcd-cover .c-red {
	width: 14.5%;
	padding: 10.5% 0;
	-webkit-transform: rotate(-25deg);
	transform: rotate(-25deg);
	background: no-repeat url('./red.png') transparent;
	background-size: 100% 100%;
}

.drift-count-down .dcd-cover .c-red-1 {
	position: absolute;
	top: 28%;
	left: 13%;
}

.drift-count-down .dcd-cover .c-red-1>span {
	font-size: 28px;
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	-webkit-transform: translate(60%, -80%) rotate(25deg);
	transform: translate(60%, -80%) rotate(25deg);
	color: #ffc600;
}

.drift-count-down .dcd-cover .c-red-2 {
	position: absolute;
	top: 74%;
	left: 20%;
	-webkit-transform: rotate(-25deg) scale(.9);
	transform: rotate(-25deg) scale(.9);
}

.drift-count-down .dcd-cover .c-red-3 {
	position: absolute;
	top: 56.6%;
	left: 46%;
	-webkit-transform: rotate(-25deg) scale(.9);
	transform: rotate(-25deg) scale(.9);
}

.drift-count-down .dcd-cover .c-red-4 {
	position: absolute;
	top: 43%;
	left: 71.5%;
	-webkit-transform: rotate(-25deg) scale(.68);
	transform: rotate(-25deg) scale(.68);
}

.drift-count-down .dcd-cover .c-red-5 {
	position: absolute;
	top: 80.6%;
	left: 68%;
	-webkit-transform: rotate(-25deg) scale(.5);
	transform: rotate(-25deg) scale(.5);
}
